---
import type { Plan } from "../interfaces";
import PlanCard from "./PlanCard.astro";

const plans: Plan[] = [
  {
    recommended: true,
    title: "Iniciación Vertical",
    price: "$60",
    frequency: "mensual",
    services: [
      "2 prácticas por semana - 1 hora por sesión",
      "Introducción a la escalada en boulder",
      "Aprendizaje de agarres y movimientos básicos",
      "Desarrollo de fuerza inicial y coordinación",
      "Seguridad en caídas y uso correcto del crash pad",
      "Construcción de confianza y movilidad en altura",
    ],
  },
  {
    title: "Progresión Alpina",
    price: "$90",
    frequency: "mensual",
    services: [
      "3 prácticas por semana - 1.5 hora por sesión",
      "Refinamiento de técnica en dinámicos y mantención de presas",
      "Mejora de la resistencia y fuerza específica para boulder",
      "Introducción a problemas más técnicos y movimientos complejos",
      "Lectura de rutas y estrategias para resolver bloques",
      "Entrenamiento mental para afrontar problemas difíciles",
    ],
  },
  {
    title: "Cima Extrema",
    price: "$130",
    frequency: "mensual",
    services: [
      "4-5 prácticas por semana - 2 hora por sesión",
      "Entrenamiento avanzado de fuerza, resistencia y explosividad",
      "Trabajo en movimientos dinámicos, coordinación y compresión",
      "Estrategias para encadenar bloques de alto nivel",
      "Planificación de entrenamientos para competencias",
      "Preparación mental para proyectos difíciles",
    ],
  },
];
---

<section class="bg-gray-50">
  <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-3 sm:items-center md:gap-8">
      {
        plans.map((plan) => (
          <PlanCard
            title={plan.title}
            price={plan.price}
            frequency={plan.frequency}
            services={plan.services}
            recommended={plan?.recommended}
          />
        ))
      }
    </div>
  </div>
</section>
