---
import { Icon } from "astro-icon/components";

interface Props {
  price: string;
  services: string[];
  title: string;
  frequency?: string;
  recommended?: boolean;
  contactLink?: string;
}

const {
  frequency,
  price,
  recommended,
  services,
  title,
  contactLink = "#",
} = Astro.props;
---

<div
  class:list={[
    "rounded-2xl border border-gray-200 p-6 shadow-xs sm:px-8 lg:p-12",
    recommended && "ring-1 ring-blue-950 border-blue-950",
  ]}
>
  <div class="text-center">
    <h2 class="text-lg font-medium text-gray-900">
      {title}
      <span class="sr-only">Plan</span>
    </h2>

    <p class="mt-2 sm:mt-4">
      <strong class="text-3xl font-bold text-gray-900 sm:text-4xl">
        {price}
      </strong>

      <span class="text-sm font-medium text-gray-700">/{frequency}</span>
    </p>
  </div>

  <ul class="mt-6 space-y-2">
    {
      services.map((service) => (
        <li class="flex items-center gap-1">
          <Icon name="check" class="size-5 text-blue-900" />

          <span class="text-gray-700"> {service} </span>
        </li>
      ))
    }
  </ul>

  <a
    href={contactLink}
    class:list={[
      "mt-8 block rounded-sm border border-blue-950 px-12 py-3 text-center text-sm font-medium hover:ring-1 hover:ring-blue-950 focus:ring-3 focus:outline-hidden",
      !recommended && "bg-white text-blue-950",
      recommended && "bg-blue-950 text-white hover:bg-blue-900",
    ]}
  >
    Comencemos
  </a>
</div>
